$icomoon-font-family: "vps" !default;
$icomoon-font-path: "fonts" !default;

$vps-vite-pos: "\e900";
$vps-vite-pos-full: "\e963";
$vps-vt-pos: "\e965";
$vps-airplay: "\e901";
$vps-alert-circle: "\e902";
$vps-alert-triangle: "\e903";
$vps-arrow-down: "\e904";
$vps-arrow-down-circle: "\e905";
$vps-arrow-down-left: "\e906";
$vps-arrow-down-right: "\e907";
$vps-arrow-left: "\e908";
$vps-arrow-left-circle: "\e909";
$vps-arrow-right: "\e90a";
$vps-arrow-right-circle: "\e90b";
$vps-arrow-up: "\e90c";
$vps-arrow-up-circle: "\e90d";
$vps-arrow-up-left: "\e90e";
$vps-arrow-up-right: "\e90f";
$vps-bell: "\e910";
$vps-bell-off: "\e911";
$vps-check: "\e912";
$vps-check-circle: "\e913";
$vps-check-square: "\e914";
$vps-chevron-down: "\e915";
$vps-chevron-left: "\e916";
$vps-chevron-right: "\e917";
$vps-chevron-up: "\e918";
$vps-chevrons-down: "\e919";
$vps-chevrons-left: "\e91a";
$vps-chevrons-right: "\e91b";
$vps-chevrons-up: "\e91c";
$vps-circle: "\e91d";
$vps-clipboard: "\e91e";
$vps-clock: "\e91f";
$vps-code: "\e920";
$vps-copy: "\e921";
$vps-corner-down-left: "\e922";
$vps-crosshair: "\e923";
$vps-database: "\e924";
$vps-disc: "\e925";
$vps-edit: "\e926";
$vps-edit-2: "\e927";
$vps-external-link: "\e928";
$vps-eye: "\e929";
$vps-eye-off: "\e92a";
$vps-filter: "\e92b";
$vps-grid: "\e92c";
$vps-help-circle: "\e966";
$vps-home: "\e92d";
$vps-image: "\e92e";
$vps-instagram: "\e92f";
$vps-loader: "\e930";
$vps-lock: "\e931";
$vps-map-pin: "\e932";
$vps-maximize: "\e933";
$vps-maximize-2: "\e934";
$vps-message-circle: "\e935";
$vps-message-square: "\e936";
$vps-minimize-2: "\e937";
$vps-minus: "\e938";
$vps-minus-circle: "\e939";
$vps-minus-square: "\e93a";
$vps-monitor: "\e93b";
$vps-more-horizontal: "\e93c";
$vps-more-vertical: "\e93d";
$vps-paperclip: "\e93e";
$vps-pause-circle: "\e93f";
$vps-pie-chart: "\e967";
$vps-plus: "\e940";
$vps-plus-circle: "\e941";
$vps-plus-square: "\e942";
$vps-power: "\e943";
$vps-printer: "\e944";
$vps-refresh-cw: "\e945";
$vps-repeat: "\e946";
$vps-rotate-ccw: "\e947";
$vps-rotate-cw: "\e948";
$vps-save: "\e949";
$vps-scissors: "\e94a";
$vps-search: "\e94b";
$vps-send: "\e94c";
$vps-settings: "\e94d";
$vps-shield: "\e964";
$vps-shopping-cart: "\e94e";
$vps-sliders: "\e94f";
$vps-square: "\e950";
$vps-star: "\e951";
$vps-sun: "\e952";
$vps-target: "\e953";
$vps-trash: "\e954";
$vps-trash-2: "\e955";
$vps-trello: "\e968";
$vps-unlock: "\e956";
$vps-user-plus: "\e957";
$vps-users: "\e958";
$vps-wifi: "\e959";
$vps-wifi-off: "\e95a";
$vps-x: "\e95b";
$vps-x-circle: "\e95c";
$vps-x-square: "\e95d";
$vps-zoom-in: "\e95e";
$vps-zoom-out: "\e95f";
$vps-display: "\e960";
$vps-bubble: "\e961";
$vps-shop: "\e962";

