$icomoon-font-family: "vps" !default;
$icomoon-font-path: "fonts" !default;

$vps-dashboard-a: "\e919";
$vps-menu-a: "\e917";
$vps-menu-b: "\e918";
$vps-password-ch: "\e915";
$vps-pos-pc-a: "\e916";
$vps-angle-double-down: "\e96f";
$vps-angle-double-left: "\e971";
$vps-angle-double-right: "\e972";
$vps-angle-double-up: "\e973";
$vps-angle-down: "\e974";
$vps-angle-left: "\e975";
$vps-angle-right: "\e976";
$vps-angle-up: "\e977";
$vps-arrow-left1: "\e978";
$vps-arrow-right1: "\e979";
$vps-asterisk: "\e97a";
$vps-asterisk-1: "\e97b";
$vps-asterisk-2: "\e97c";
$vps-ban: "\e97d";
$vps-barcode: "\e97e";
$vps-bed: "\e97f";
$vps-bell-slash: "\e980";
$vps-bell-slash-o: "\e981";
$vps-bill: "\e982";
$vps-card: "\e983";
$vps-caret-down: "\e984";
$vps-caret-left: "\e985";
$vps-caret-right: "\e986";
$vps-caret-up: "\e987";
$vps-cash-drawer: "\e988";
$vps-cash-drawer-three: "\e989";
$vps-cash-drawer-two: "\e98a";
$vps-category-four: "\e98b";
$vps-category-one: "\e98c";
$vps-category-three: "\e98d";
$vps-category-two: "\e98e";
$vps-cc-amex1: "\e98f";
$vps-cc-discover1: "\e990";
$vps-cc-mastercard1: "\e991";
$vps-cc-visa1: "\e992";
$vps-certificate: "\e993";
$vps-check-circle-o: "\e995";
$vps-check-circle1: "\e994";
$vps-checklist: "\e996";
$vps-circle-o: "\e998";
$vps-circle1: "\e997";
$vps-credit-card1: "\e999";
$vps-delivery-truck: "\e99b";
$vps-des-add-user: "\e99c";
$vps-des-barcode-scanner: "\e9a0";
$vps-des-clock: "\e9a1";
$vps-des-close: "\e9a2";
$vps-des-customer: "\e9a3";
$vps-des-dashboard: "\e9a4";
$vps-des-lock: "\e9a6";
$vps-des-lock-fill: "\e9a7";
$vps-des-lock-line: "\e9a8";
$vps-des-lock-nfill: "\e9a9";
$vps-des-note: "\e9aa";
$vps-des-notification: "\e9ab";
$vps-des-notification-alert: "\e9ac";
$vps-des-order: "\e9ad";
$vps-des-pause: "\e9ae";
$vps-des-plus: "\e9af";
$vps-des-products: "\e9b0";
$vps-des-repeat: "\e9b1";
$vps-des-send: "\e9b2";
$vps-des-shipment: "\e9b3";
$vps-des-stock: "\e9b4";
$vps-des-supplier: "\e9b5";
$vps-des-unlock: "\e9b6";
$vps-des-unlock-line: "\e9b7";
$vps-des-wifi: "\e9b9";
$vps-details-one: "\e9ba";
$vps-details-two: "\e9bb";
$vps-download1: "\e9bc";
$vps-edit1: "\e9bd";
$vps-empty-cart: "\e9be";
$vps-fast: "\e9bf";
$vps-file-archive-o1: "\e9c0";
$vps-file-excel-o1: "\e9c1";
$vps-file-image-o: "\e9c2";
$vps-file-pdf-o1: "\e9c3";
$vps-hold: "\e9c5";
$vps-hold-one: "\e9c6";
$vps-hold-three: "\e9c7";
$vps-hold-two: "\e9c8";
$vps-inventory: "\e9c9";
$vps-inventory-list: "\e9ca";
$vps-log-out: "\e9cb";
$vps-maximize1: "\e9cc";
$vps-menu-list: "\e9cd";
$vps-minimize: "\e9ce";
$vps-minimize-21: "\e9cf";
$vps-minus-circle1: "\e9d0";
$vps-mobile-payment: "\e9d1";
$vps-money: "\e9d2";
$vps-money-receipt: "\e9d4";
$vps-no-wifi: "\e9d5";
$vps-pause: "\e9d6";
$vps-payment-method: "\e9d7";
$vps-plus-circle1: "\e9d8";
$vps-pos: "\e9d9";
$vps-pos-receipt: "\e9da";
$vps-power-off: "\e9db";
$vps-printer-icon: "\e9dd";
$vps-printer-three: "\e9de";
$vps-printer-two: "\e9df";
$vps-printer1: "\e9dc";
$vps-receipt: "\e9e0";
$vps-refresh: "\e9e1";
$vps-remove-from-cart: "\e9e2";
$vps-rotate-right: "\e9e3";
$vps-search-minus: "\e9e5";
$vps-search-plus: "\e9e6";
$vps-search1: "\e9e4";
$vps-shop1: "\e9e7";
$vps-shopping-cart1: "\e9e8";
$vps-side-menu: "\e9e9";
$vps-side-menu-four: "\e9ea";
$vps-side-menu-three: "\e9eb";
$vps-side-menu-two: "\e9ec";
$vps-sign-out: "\e9ee";
$vps-signal: "\e9ed";
$vps-sort-down: "\e9ef";
$vps-sort-unsorted: "\e9f0";
$vps-sort-up: "\e9f1";
$vps-star-half1: "\e9f3";
$vps-star-o1: "\e9f4";
$vps-star2: "\e9f2";
$vps-supplier: "\e9f5";
$vps-swipe-machine: "\e9f6";
$vps-swipe-machine-2: "\e9f7";
$vps-sync: "\e9f8";
$vps-table: "\e9f9";
$vps-table-list: "\e9fa";
$vps-times-circle: "\e9fb";
$vps-times-circle-o: "\e9fc";
$vps-trash-21: "\e9ff";
$vps-trash-o: "\ea00";
$vps-trash1: "\e9fd";
$vps-trash11: "\e9fe";
$vps-upload-one: "\ea01";
$vps-upload-three: "\ea02";
$vps-upload-two: "\ea03";
$vps-user: "\ea04";
$vps-user-add: "\ea07";
$vps-user-circle-o: "\ea08";
$vps-user-o: "\ea09";
$vps-user-plus1: "\ea0a";
$vps-user-remove: "\ea0b";
$vps-user-search: "\ea0d";
$vps-user-x: "\ea0e";
$vps-user1: "\ea05";
$vps-user2: "\ea06";
$vps-users1: "\ea0c";
$vps-vite-pos: "\e900";
$vps-vite-pos-full: "\e963";
$vps-vitepos: "\ea0f";
$vps-vt-pos: "\e965";
$vps-x-circle1: "\ea15";
$vps-x-octagon: "\ea16";
$vps-x-square1: "\ea17";
$vps-airplay: "\e901";
$vps-alert-circle: "\e902";
$vps-alert-triangle: "\e903";
$vps-arrow-down: "\e904";
$vps-arrow-down-circle: "\e905";
$vps-arrow-down-left: "\e906";
$vps-arrow-down-right: "\e907";
$vps-arrow-left: "\e908";
$vps-arrow-left-circle: "\e909";
$vps-arrow-right: "\e90a";
$vps-arrow-right-circle: "\e90b";
$vps-arrow-up: "\e90c";
$vps-arrow-up-circle: "\e90d";
$vps-arrow-up-left: "\e90e";
$vps-arrow-up-right: "\e90f";
$vps-bell: "\e910";
$vps-bell-off: "\e911";
$vps-check: "\e912";
$vps-check-circle: "\e913";
$vps-check-square: "\e914";
$vps-circle: "\e91d";
$vps-circle-check: "\e969";
$vps-clipboard: "\e91e";
$vps-clock: "\e91f";
$vps-code: "\e920";
$vps-copy: "\e921";
$vps-corner-down-left: "\e922";
$vps-credit-card: "\e970";
$vps-crosshair: "\e923";
$vps-database: "\e924";
$vps-disc: "\e925";
$vps-download: "\e96b";
$vps-edit: "\e926";
$vps-edit-2: "\e927";
$vps-external-link: "\e928";
$vps-eye: "\e929";
$vps-eye-off: "\e92a";
$vps-filter: "\e92b";
$vps-grid: "\e92c";
$vps-help-circle: "\e966";
$vps-home: "\e92d";
$vps-image: "\e92e";
$vps-instagram: "\e92f";
$vps-loader: "\e930";
$vps-lock: "\e931";
$vps-map-pin: "\e932";
$vps-maximize: "\e933";
$vps-maximize-2: "\e934";
$vps-message-circle: "\e935";
$vps-message-square: "\e936";
$vps-minimize-2: "\e937";
$vps-minus: "\e938";
$vps-minus-circle: "\e939";
$vps-minus-square: "\e93a";
$vps-monitor: "\e93b";
$vps-more-horizontal: "\e93c";
$vps-more-vertical: "\e93d";
$vps-paperclip: "\e93e";
$vps-pause-circle: "\e93f";
$vps-pdf-file: "\e96c";
$vps-pie-chart: "\e967";
$vps-plus: "\e940";
$vps-plus-circle: "\e941";
$vps-plus-square: "\e942";
$vps-power: "\e943";
$vps-printer: "\e944";
$vps-refresh-cw: "\e945";
$vps-repeat: "\e946";
$vps-rotate-ccw: "\e947";
$vps-rotate-cw: "\e948";
$vps-save: "\e949";
$vps-scissors: "\e94a";
$vps-search: "\e94b";
$vps-send: "\e94c";
$vps-settings: "\e94d";
$vps-shield: "\e964";
$vps-shopping-cart: "\e94e";
$vps-sliders: "\e94f";
$vps-square: "\e950";
$vps-square-check: "\e96a";
$vps-star: "\e951";
$vps-sun: "\e952";
$vps-target: "\e953";
$vps-trash: "\e954";
$vps-trash-2: "\e955";
$vps-trello: "\e968";
$vps-unlock: "\e956";
$vps-upload: "\e96d";
$vps-user-plus: "\e957";
$vps-users: "\e958";
$vps-wifi: "\e959";
$vps-wifi-off: "\e95a";
$vps-x: "\e95b";
$vps-x-circle: "\e95c";
$vps-x-square: "\e95d";
$vps-zoom-in: "\e95e";
$vps-zoom-out: "\e95f";
$vps-display: "\e960";
$vps-bubble: "\e961";
$vps-shop: "\e962";
$vps-file-pdf-solid: "\e96e";
$vps-star1: "\f005";
$vps-star-o: "\f006";
$vps-star-half: "\f089";
$vps-copy1: "\f0c5";
$vps-files-o: "\f0c5";
$vps-paperclip1: "\f0c6";
$vps-star-half-empty: "\f123";
$vps-star-half-full: "\f123";
$vps-star-half-o: "\f123";
$vps-file-pdf-o: "\f1c1";
$vps-file-excel-o: "\f1c3";
$vps-file-archive-o: "\f1c6";
$vps-file-zip-o: "\f1c6";
$vps-plug: "\f1e6";
$vps-paypal: "\f1ed";
$vps-google-wallet: "\f1ee";
$vps-cc-visa: "\f1f0";
$vps-cc-mastercard: "\f1f1";
$vps-cc-discover: "\f1f2";
$vps-cc-amex: "\f1f3";
$vps-cc-paypal: "\f1f4";
$vps-cc-stripe: "\f1f5";
$vps-credit-card-alt: "\f283";

